# Sets in Python
Sets are unordered collection of data items. They store multiple items in a single variable. Set items are separated by commas and enclosed within curly brackets {}. Sets are unchangeable, meaning you cannot change items of the set once created. Sets do not contain duplicate items.

In [2]:
info = {"abc", 19, False, 5.9, 19}
print(info)

set_1 =  {10 , 20 , 10 , 30}
print(set_1)

{False, 19, 5.9, 'abc'}
{10, 20, 30}

Here we see that the items of set occur in random order and hence they cannot be accessed using index numbers. Also sets do not allow duplicate values.

### Accessing set items:

In [5]:
info = {"abc", 19, False, 5.9}
for item in info:
    print(item)

False
19
5.9
abc

### Joining Sets

Sets in python more or less work in the same way as sets in mathematics. We can perform operations like union and intersection on the sets just like in mathematics.

## I. union() and update():

The union() and update() methods prints all items that are present in the two sets. The union() method returns a new set whereas update() method adds item into the existing set from another set.

In [5]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.union(cities2)
print(cities3)

{'Tokyo', 'Seoul', 'Madrid', 'Berlin', 'Delhi', 'Kabul'}

In [6]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.update(cities2)
print(cities)

{'Tokyo', 'Seoul', 'Madrid', 'Berlin', 'Delhi', 'Kabul'}

### II. intersection and intersection_update():

The intersection() and intersection_update() methods prints only items that are similar to both the sets. The intersection() method returns a new set whereas intersection_update() method updates into the existing set from another set.

In [7]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.intersection(cities2)
print(cities3)

{'Tokyo', 'Madrid'}

In [8]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.intersection_update(cities2)
print(cities)

{'Tokyo', 'Madrid'}

# Set Methods

If you want to add a single item to the set use the add() method.

In [9]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.add("Helsinki")
print(cities)

{'Tokyo', 'Madrid', 'Berlin', 'Delhi', 'Helsinki'}

### update()
If you want to add more than one item, simply create another set or any other iterable object(list, tuple, dictionary), and use the update() method to add it into the existing set.

In [10]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Helsinki", "Warsaw", "Seoul"}
cities.update(cities2)
print(cities)

{'Tokyo', 'Delhi', 'Seoul', 'Madrid', 'Berlin', 'Helsinki', 'Warsaw'}

### remove()
We can use remove() and discard() methods to remove items form list.

In [6]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.remove("Tokyo")
print(cities)

{'Berlin', 'Madrid', 'Delhi'}

In [12]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.remove("Seoul")
print(cities)

KeyError: 'Seoul'

### pop()
This method removes the last item of the set but the catch is that we donâ€™t know which item gets popped as sets are unordered. However, you can access the popped item if you assign the pop() method to a variable.

In [13]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
item = cities.pop()
print(cities)
print(item)

{'Tokyo', 'Delhi', 'Madrid'}
Berlin

### del
del is not a method, rather it is a keyword which deletes the set entirely.

In [14]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
del cities
print(cities)

NameError: name 'cities' is not defined

NameError: name 'cities' is not defined We get an error because our entire set has been deleted and there is no variable called cities which contains a set.

What if we donâ€™t want to delete the entire set, we just want to delete all items within that set?

### clear():
This method clears all items in the set and prints an empty set.

In [15]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.clear()
print(cities)

set()

### Check if item exists
You can also check if an item exists in the set or not.

In [16]:
info = {"Carla", 19, False, 5.9}
if "abc" in info:
    print("abc is present.")
else:
    print("abc is absent.")

abc is absent.